* {
    margin: 0;
    color:#1c2833;
}

body {
    background-color:#f6ddcc;
    color:#1c2833;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:#ec791b77;
    overflow: auto;
    padding: 20px 10%;
}

footer {
    background-color:#dc7a25bf;
    text-align: center;
    padding: 20px 10%;
    margin-top: 30px;
}

img {
    width: 160px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 26px;
}

.osobni_info {
    margin: 30px 10% 20px 0;
    display: inline-block;
    border: 2px solid;
    border-radius: 0 50px 50px 50px;
    padding: 12px;
}

.osobni_info a {
    color:#34495e;
}

.osobni_info h2 {
    font-size: 18px;
}

.kontakty {
    font-size: 13px;
    margin-top: 10px;
}

.kontakty a:hover,
.kontakty a:focus,
.kontakty a:active {
    color:#ba4a00;
}

.menu {
    background-color:#e59866;
    padding: 0 10%;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 0;
}

.menu a:focus,
.menu a:hover,
.menu a:active {
    color:#ba4a00;
}

.aktivni_polozka_menu a {
    color:#873600;
}

section {
    padding: 20px 15% 0 10%;
    text-align: justify;
}

section h2 {
    font-size: 20px;
    padding-bottom: 5px;
}

.polozky_sekce {
    list-style: none;
    padding-left: 10px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.polozky_sekce li {
    padding-bottom: 5px;
}

.doplnujici_info_polozky {
    list-style: "– ";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.doplnujici_info_polozky li {
    padding-bottom: 2px;
}

.polozky_publikace,
.polozky_konference,
.polozky_granty {
    list-style: "– ";
}
